* {
    box-sizing: border-box;
}
 
body {
    background-image: url(hatter/hatter_kozepkor.png);
    margin: 0;
    padding: 30px 0;
    font-family: Georgia, serif;
    color: #3b2b1a;
}
 
main {
    width: 860px;
    margin: auto;
    background: #e7dcc8;
    border: 8px solid #8b2e2e;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
    overflow: hidden;
}
 
header{
    text-align:center;
    border:2px solid #b64b4b;
    padding:10px;
    margin-bottom:15px;
}
 
header h1{
    margin:0;
}
 
a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15pt;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration: none;
}

img {
    width: 100%;
}

a:hover {
    color: rgb(143, 88, 16);
}

article{
    border-left:2px solid #b64b4b;
    border-right:2px solid #b64b4b;
    padding-left:10px;
    padding-right:10px;
}

article h2{
    background:#f3ead7;
    border:2px solid #b64b4b;
    padding:8px;
    font-size:16px;
    margin-top:30px;
}

article p{
    background:#efe5d1;
    padding:10px;
    border-radius:5px;
    margin-top:5px;
    text-align: justify;
}

footer{
    margin-top:30px;
    text-align:center;
    border-top:2px solid #b64b4b;
    padding-top:10px;
    font-size:14px;
}