.elrendezes {
    display: grid;
    grid-template-columns: 310px 1fr;
    gap: 25px;
    align-items: start;
}

.elrendezes img {
    padding-top: 40px;
    width: 100%;

   
    box-shadow: 5px 5px 15px rgba(139, 46, 46, 0.3);
}
.esemeny{
    padding: 20px;
}

@media screen and (max-width: 600px) {
    .tartalom{
        width: 100%;
        grid-template-columns: 1fr;
    }
}