.elrendezes {
    display: grid;
    grid-template-columns: 310px 1fr;
    gap: 25px;
    align-items: start;
}

.elrendezes img {
    width: 100%;
    height: auto;
    display: block;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(139, 46, 46, 0.3);
}

